* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background: #fbf7f7;
	color: #0d0f10;
}

.container {
	width: 540px;
	margin: 80px auto;
	text-align: center;
}

header h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 36px;
	color: #4D4F62;
    text-align: center;
}

header h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #4D4F62;
	text-align: center;
}

header p {
	font-family: 'Poppins', sans-serif;
	font-size: 15px; 
	line-height: 25px;
	letter-spacing: 0.1px;
	text-align: center;
	opacity: 0.7;
}
cards{
    width: 1110px
    height: 250px;
    top: 312px;
    left: 165px;
    angle: 0 deg;
    opacity: 1;
}
